$text: #212529;
$text-secondary: #868e96;
$placeholder: #adb5bd;
$blue-500: #15aabf;
$green-500: #12b886;
$red-500: #fa5252;
$bg-input: #f1f3f5;
$bg-white: #ffffff;
$bg-gray: #dee2e6;
$separator: #e9ecef;
