@use './color';
@use './buttons';
@use './utils';

@import url('//fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  color: color.$text;
  font-family: 'Open Sans', sans-serif;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  display: block;
}

// If you need to style the #app element
// :global(#app) {}

#app {
  padding: 65px 20px;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(180deg, color.$bg-white 0%, color.$bg-gray 100%);
}
